{% extends "books/base.html" %}
{% load static %}
{% load bootstrap %}

{% block body_block %}

  <div class="card">
  <div class="container my-3">
    <form class="post-form" method="POST">
      {% csrf_token %}
      {{form|bootstrap}}
      <br>
      <button type="submit" name="browse" class="btn btn-primary">Przeglądaj</button>
      <button type="submit" name="import_all" class="btn btn-primary">Importuj wszystko (może chwilę potrwać)</button>
    </form>
  </div>
  </div>

{% endblock %}
