{% extends "books/base.html" %}
{% load static %}
{% load bootstrap %}

{% block body_block %}

  <div class="container">

    <p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterForm" aria-expanded="false" aria-controls="filterForm">
        Filtry
      </button>
      <button class="btn btn-primary" type="button" onClick="location.href='/'">
        Wyczyść filtry
      </button>
    </p>
    <div class="collapse" id="filterForm">
      <div class="well">
        <form method="GET">
          {{ filter.form|bootstrap }}
          <br>
          <button type="submit" class="btn btn-outline-primary">Szukaj</button>
        </form>
      </div>
    </div>

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Tytuł</th>
          <th scope="col">Autorzy</th>
          <th scope="col">Data<br>publikacji</th>
          <th scope="col">ISBN</th>
          <th scope="col">Strony</th>
          <th scope="col">Okładka</th>
          <th scope="col">Język</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{book.title}}</td>
            <td>{{book.authors}}</td>
            {% if book.publishedDate %}
            <td>{{book.publishedDate.year}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if book.isbn %}
            <td>{{book.isbn}}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{book.pageCount}}</td>
            {% if book.thumbnail %}
            <td><a href='{{book.thumbnail}}'>Link</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{book.language}}</td>
            <td>
              <a class="btn btn-success" href="{% url 'book_edit' pk=book.pk %}">Edytuj</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  {% if is_paginated %}
    <ul class="pagination">

      <!-- Previous -->
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&laquo;</span>
        </li>
      {% endif %}

      <!-- Page numbers -->
      {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item active">
            <a class="page-link" href="">{{page_obj.number}}</a>
          </li>
        {% elif i|add:"-3" <= page_obj.number and i|add:"3" >= page_obj.number %}
          <li class="page-item ">
            <a class="page-link" href="?page={{i}}">{{i}}</a>
          </li>
        {% elif i|divisibleby:"10" and i|add:"-30" <= page_obj.number and i|add:"30" >= page_obj.number%}
          <li class="page-item ">
            <a class="page-link" href="?page={{i}}">{{i}}</a>
          </li>
        {% endif %}
      {% endfor %}

      <!-- Next -->
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&raquo;</span>
        </li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock %}
